.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
}

.form-buttons button {
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: center;
    gap: 5px;
    width: 38%;
}

/* Media query for smaller screens, adjust the breakpoint as needed */
@media (max-width: 768px) {
    .form-buttons {
        flex-direction: column;
        /* Stack buttons vertically */
        align-items: stretch;
        /* Stretch buttons to the full width of the container */
    }

    .form-buttons button {
        width: 100%;
        /* Full width buttons for better accessibility */
        margin-bottom: 5px;
        /* Add space between buttons when stacked */
    }
}